USE [master]
GO
/****** Object:  Database [FaultMIS1]    Script Date: 2018/11/29 18:10:18 ******/
CREATE DATABASE [FaultMIS1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FaultMIS1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FaultMIS1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FaultMIS1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\FaultMIS1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FaultMIS1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FaultMIS1]
GO
/****** Object:  Table [dbo].[ADMIN_INFO]    Script Date: 2018/11/29 18:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN_INFO](
	[ADMIN_ID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT] [varchar](50) NULL,
	[NAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL,
	[ACCOUNT_TYPE] [varchar](10) NULL,
	[LAST_LOGIN_TM] [datetime] NULL,
	[LAST_LOGOUT_TM] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETECTION_TECHNOLOGY]    Script Date: 2018/11/29 18:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETECTION_TECHNOLOGY](
	[DetectionTechnology_ID] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[Detection_Technology_NAME] [varchar](100) NULL,
 CONSTRAINT [PK_DETECTION_TECHNOLOGY] PRIMARY KEY CLUSTERED 
(
	[DetectionTechnology_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAULT_INFO]    Script Date: 2018/11/29 18:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAULT_INFO](
	[FAULT_ID] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[LATHE_ID] [numeric](10, 0) NULL,
	[COLUMN_ID] [numeric](10, 0) NULL,
	[REPAIR_NAME] [varchar](100) NULL,
	[CARNAME] [varchar](100) NULL,
	[EQUIMENT_ID] [numeric](10, 0) NULL,
	[CHECK_TM] [datetime] NULL,
	[DetectionTechnology_ID] [numeric](10, 0) NULL,
	[FAULT_BEAMID] [varchar](100) NULL,
	[IF_PENETRATION] [varchar](100) NULL,
	[DISTANCE1] [varchar](100) NULL,
	[DISTANCE2] [varchar](100) NULL,
	[FAULT_POSITION] [varchar](100) NULL,
	[LENGTH] [varchar](100) NULL,
	[DEPTH] [varchar](100) NULL,
	[INCREASE] [varchar](100) NULL,
	[PHASE] [varchar](100) NULL,
	[INVESTIGATOR] [varchar](100) NULL,
	[TEAM_LEADER] [varchar](100) NULL,
	[ENTERING_PERSON] [varchar](100) NULL,
 CONSTRAINT [PK_FAULT_INFO] PRIMARY KEY CLUSTERED 
(
	[FAULT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaultNumber]    Script Date: 2018/11/29 18:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaultNumber](
	[FAULT_BEAMID] [varchar](100) NOT NULL,
	[number] [int] NOT NULL,
 CONSTRAINT [PK_FaultNumber] PRIMARY KEY CLUSTERED 
(
	[FAULT_BEAMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOISTINGEQUIPMENT_INFO]    Script Date: 2018/11/29 18:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOISTINGEQUIPMENT_INFO](
	[EQUIMENT_ID] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[EQUIMENT_NAME] [varchar](100) NULL,
 CONSTRAINT [PK_HOISTINGEQUIPMENT_INFO] PRIMARY KEY CLUSTERED 
(
	[EQUIMENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LATHE_COLUMN]    Script Date: 2018/11/29 18:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LATHE_COLUMN](
	[COLUMN_ID] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[COLUMN_NAME] [varchar](100) NULL,
 CONSTRAINT [PK_LATHE_COLUMN] PRIMARY KEY CLUSTERED 
(
	[COLUMN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LATHE_INFO]    Script Date: 2018/11/29 18:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LATHE_INFO](
	[LATHE_ID] [numeric](10, 0) IDENTITY(1,1) NOT NULL,
	[LATHE_NAME] [varchar](100) NULL,
 CONSTRAINT [PK_LATHE_INFO] PRIMARY KEY CLUSTERED 
(
	[LATHE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADMIN_INFO] ON 

INSERT [dbo].[ADMIN_INFO] ([ADMIN_ID], [ACCOUNT], [NAME], [PASSWORD], [ACCOUNT_TYPE], [LAST_LOGIN_TM], [LAST_LOGOUT_TM]) VALUES (1, N'admin', N'admin', N'123', NULL, CAST(N'2018-11-29T18:07:30.613' AS DateTime), CAST(N'2018-11-29T18:08:46.463' AS DateTime))
SET IDENTITY_INSERT [dbo].[ADMIN_INFO] OFF
SET IDENTITY_INSERT [dbo].[DETECTION_TECHNOLOGY] ON 

INSERT [dbo].[DETECTION_TECHNOLOGY] ([DetectionTechnology_ID], [Detection_Technology_NAME]) VALUES (CAST(1 AS Numeric(10, 0)), N'近场涡流检测')
INSERT [dbo].[DETECTION_TECHNOLOGY] ([DetectionTechnology_ID], [Detection_Technology_NAME]) VALUES (CAST(2 AS Numeric(10, 0)), N'远场涡流检测')
SET IDENTITY_INSERT [dbo].[DETECTION_TECHNOLOGY] OFF
SET IDENTITY_INSERT [dbo].[FAULT_INFO] ON 

INSERT [dbo].[FAULT_INFO] ([FAULT_ID], [LATHE_ID], [COLUMN_ID], [REPAIR_NAME], [CARNAME], [EQUIMENT_ID], [CHECK_TM], [DetectionTechnology_ID], [FAULT_BEAMID], [IF_PENETRATION], [DISTANCE1], [DISTANCE2], [FAULT_POSITION], [LENGTH], [DEPTH], [INCREASE], [PHASE], [INVESTIGATOR], [TEAM_LEADER], [ENTERING_PERSON]) VALUES (CAST(1 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), CAST(1 AS Numeric(10, 0)), N'1', N'1', CAST(1 AS Numeric(10, 0)), CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(1 AS Numeric(10, 0)), N'1', N'是', N'200', NULL, N'1-1', N'50.0', N'10.00', NULL, NULL, N'王嘉', N'赵建', N'张华')
INSERT [dbo].[FAULT_INFO] ([FAULT_ID], [LATHE_ID], [COLUMN_ID], [REPAIR_NAME], [CARNAME], [EQUIMENT_ID], [CHECK_TM], [DetectionTechnology_ID], [FAULT_BEAMID], [IF_PENETRATION], [DISTANCE1], [DISTANCE2], [FAULT_POSITION], [LENGTH], [DEPTH], [INCREASE], [PHASE], [INVESTIGATOR], [TEAM_LEADER], [ENTERING_PERSON]) VALUES (CAST(2 AS Numeric(10, 0)), CAST(2 AS Numeric(10, 0)), CAST(3 AS Numeric(10, 0)), N'2', N'2', CAST(3 AS Numeric(10, 0)), CAST(N'2018-01-17T10:00:00.000' AS DateTime), CAST(2 AS Numeric(10, 0)), N'2', N'否', NULL, N'600', N'2-2', N'102.5', N'46.60', NULL, NULL, N'李方', N'陈立', N'许亮')
INSERT [dbo].[FAULT_INFO] ([FAULT_ID], [LATHE_ID], [COLUMN_ID], [REPAIR_NAME], [CARNAME], [EQUIMENT_ID], [CHECK_TM], [DetectionTechnology_ID], [FAULT_BEAMID], [IF_PENETRATION], [DISTANCE1], [DISTANCE2], [FAULT_POSITION], [LENGTH], [DEPTH], [INCREASE], [PHASE], [INVESTIGATOR], [TEAM_LEADER], [ENTERING_PERSON]) VALUES (CAST(3 AS Numeric(10, 0)), CAST(3 AS Numeric(10, 0)), CAST(3 AS Numeric(10, 0)), N'3', N'5', CAST(4 AS Numeric(10, 0)), CAST(N'2018-02-17T10:00:00.000' AS DateTime), CAST(2 AS Numeric(10, 0)), N'6', N'是', N'400', NULL, N'6-1', N'40.0', N'60.00', NULL, NULL, N'杨阿', N'向画', N'胡虎')
SET IDENTITY_INSERT [dbo].[FAULT_INFO] OFF
INSERT [dbo].[FaultNumber] ([FAULT_BEAMID], [number]) VALUES (N'1', 5)
INSERT [dbo].[FaultNumber] ([FAULT_BEAMID], [number]) VALUES (N'12', 2)
INSERT [dbo].[FaultNumber] ([FAULT_BEAMID], [number]) VALUES (N'123', 1)
SET IDENTITY_INSERT [dbo].[HOISTINGEQUIPMENT_INFO] ON 

INSERT [dbo].[HOISTINGEQUIPMENT_INFO] ([EQUIMENT_ID], [EQUIMENT_NAME]) VALUES (CAST(1 AS Numeric(10, 0)), N'制动控制装置')
INSERT [dbo].[HOISTINGEQUIPMENT_INFO] ([EQUIMENT_ID], [EQUIMENT_NAME]) VALUES (CAST(2 AS Numeric(10, 0)), N'换气装置逆变器箱')
INSERT [dbo].[HOISTINGEQUIPMENT_INFO] ([EQUIMENT_ID], [EQUIMENT_NAME]) VALUES (CAST(3 AS Numeric(10, 0)), N'空调装置')
SET IDENTITY_INSERT [dbo].[HOISTINGEQUIPMENT_INFO] OFF
SET IDENTITY_INSERT [dbo].[LATHE_COLUMN] ON 

INSERT [dbo].[LATHE_COLUMN] ([COLUMN_ID], [COLUMN_NAME]) VALUES (CAST(1 AS Numeric(10, 0)), N'2602')
INSERT [dbo].[LATHE_COLUMN] ([COLUMN_ID], [COLUMN_NAME]) VALUES (CAST(2 AS Numeric(10, 0)), N'2603')
INSERT [dbo].[LATHE_COLUMN] ([COLUMN_ID], [COLUMN_NAME]) VALUES (CAST(3 AS Numeric(10, 0)), N'1002')
SET IDENTITY_INSERT [dbo].[LATHE_COLUMN] OFF
SET IDENTITY_INSERT [dbo].[LATHE_INFO] ON 

INSERT [dbo].[LATHE_INFO] ([LATHE_ID], [LATHE_NAME]) VALUES (CAST(1 AS Numeric(10, 0)), N'E11')
INSERT [dbo].[LATHE_INFO] ([LATHE_ID], [LATHE_NAME]) VALUES (CAST(2 AS Numeric(10, 0)), N'E13')
INSERT [dbo].[LATHE_INFO] ([LATHE_ID], [LATHE_NAME]) VALUES (CAST(3 AS Numeric(10, 0)), N'E14')
SET IDENTITY_INSERT [dbo].[LATHE_INFO] OFF
ALTER TABLE [dbo].[FAULT_INFO]  WITH CHECK ADD  CONSTRAINT [FK_FAULT_IN_REFERENCE_HOISTING] FOREIGN KEY([EQUIMENT_ID])
REFERENCES [dbo].[HOISTINGEQUIPMENT_INFO] ([EQUIMENT_ID])
GO
ALTER TABLE [dbo].[FAULT_INFO] CHECK CONSTRAINT [FK_FAULT_IN_REFERENCE_HOISTING]
GO
ALTER TABLE [dbo].[FAULT_INFO]  WITH CHECK ADD  CONSTRAINT [FK_FAULT_IN_REFERENCE_LATHE_CO] FOREIGN KEY([COLUMN_ID])
REFERENCES [dbo].[LATHE_COLUMN] ([COLUMN_ID])
GO
ALTER TABLE [dbo].[FAULT_INFO] CHECK CONSTRAINT [FK_FAULT_IN_REFERENCE_LATHE_CO]
GO
ALTER TABLE [dbo].[FAULT_INFO]  WITH CHECK ADD  CONSTRAINT [FK_FAULT_IN_REFERENCE_LATHE_IN] FOREIGN KEY([LATHE_ID])
REFERENCES [dbo].[LATHE_INFO] ([LATHE_ID])
GO
ALTER TABLE [dbo].[FAULT_INFO] CHECK CONSTRAINT [FK_FAULT_IN_REFERENCE_LATHE_IN]
GO
ALTER TABLE [dbo].[FAULT_INFO]  WITH CHECK ADD  CONSTRAINT [FK_FAULT_INFO_DETECTION_TECHNOLOGY] FOREIGN KEY([DetectionTechnology_ID])
REFERENCES [dbo].[DETECTION_TECHNOLOGY] ([DetectionTechnology_ID])
GO
ALTER TABLE [dbo].[FAULT_INFO] CHECK CONSTRAINT [FK_FAULT_INFO_DETECTION_TECHNOLOGY]
GO
USE [master]
GO
