<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="横梁涡流检测信息管理系统.Properties.Settings.FaultMISConnectionString"
        connectionString="Data Source= DESKTOP-H8516B6;Initial Catalog=FaultMIS1;Persist Security Info=True;User ID=sa;Password=sa" />
    <!--   DESKTOP-R8FH0JQ connectionString="Data Source=DESKTOP-H8516B6;Initial Catalog=FaultMIS1;Persist Security Info=True;User ID=sa;Password=sa"    />-->
    <!-- H8516B6-->
  </connectionStrings>
</configuration>
